<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="ServerListenIP" value="0.0.0.0" />
      <add key="ServerListenPort" value="20000" />
      <add key="SocketType" value="SYNC" />
      <add key="PrinterName" value="THERMOMARK ROLLMASTER 600" />
      <add key="PrintSuccessMsg" value="OK" />
      <add key="PrinterErrorMsg" value="NG" />
      <add key="PrinterErrorLog" value="The printer is in ERROR state or not connected, unable to print." />
      <add key="PrinterErrorLogChs" value="打印机故障或未连接，请检查." />
      <add key="PrinterBusyMsg" value="NG" />
      <add key="PrinterBusyLog" value="The printer is now printing, please try again later." />
      <add key="PrinterBusyLogChs" value="打印机正在打印中，请稍后再试." />
      <add key="IsWrap" value="true" />
      <add key="WrapIndex" value="15" />
    </appSettings>
</configuration>